<div class="modal fade" id="addExpenseTagModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExpenseTagModalLabel">Expense Tags</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-grid gap-3">
                <!-- Input -->
                <div class="row">
                    <div class="d-grid">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">New Tag</span>
                            <input type="text" class="form-control" placeholder="ex: buy food"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="button" class="btn btn-success addExpenseTagSubmit"
                            data-bs-dismiss="modal">ADD</button>
                    </div>
                </div>
                <div class="row">
                    <hr class="col-12">
                    <!-- Old Tags -->
                    {% for tag in tags.expense %}
                    <span class="btn btn-outline-primary col-lg-4 overflow-hidden">{{tag.tag_name}}</span>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    async function addExpenseTag() {
        const newTagName = addExpenseTagModal.querySelector('input').value;
        const userId = JSON.parse(document.getElementById('user_id').textContent)
        const crsfToken = document.querySelector('input[name=csrfmiddlewaretoken]').getAttribute('value');

        let formData = new FormData()
        formData.append('user', `${baseURL}/api/users/${userId}/`);
        formData.append('income_or_expense', '支出');
        formData.append('tag_name', newTagName);

        let res = await fetch(`${baseURL}/api/tags/`, {
            method: "POST",
            headers: {
                "X-CSRFToken": crsfToken,
            },
            body: formData
        })
        if (res.ok) {
            console.log("addExpenseTag success");
            location.reload();
        } else {
            console.log("addExpenseTag Fail");
        }
    }

    const addExpenseTagModal = document.querySelector('div#addExpenseTagModal');
    const addExpenseTagSubmit = addExpenseTagModal.querySelector('button.addExpenseTagSubmit');

    addExpenseTagSubmit.addEventListener("click", () => {
        addExpenseTag();
    });

</script>