{% extends "base.html" %} {% block main %}
<!-- Add record form -->
<div class="row justify-content-center">
  <div class="col-lg-10 mt-4 justify-content-center d-flex">
    {% include "homeAddForm.html" %}
  </div>
</div>
<hr />
<div class="row">
  <div class="col mx-auto text-center h4" style="color: gray">Records</div>
</div>
<!-- Record cards -->
{% include "recordCards.html" %}

<!-- addTagModal -->
{% include "addExpenseTagModal.html" %}
{% include "addIncomeTagModal.html" %}

<!-- loading static -->
{% load static %}
<script src="{% static 'js/homeInput.js' %}"></script>

{% endblock %}