{% extends "base.html" %} {% block main %}
<div class="row">
  <div class="col-lg-7 mt-4 mx-auto">
    <form
      action=""
      method="post"
      class="d-lg-inline-flex mt-5 p-2 bg-light"
      style="column-gap: 0.5rem; border-radius: 0.5rem"
    >
      {% csrf_token %}
      <div class="input-group">
        <span class="input-group-text">Tag</span>
        <select name="tag_name" class="form-control">
          {% for tag in tags %}
          <option value="{{tag.tag_name}}">{{tag.tag_name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="ex : 吃早餐"
          name="discription"
          required
        />
      </div>
      <div class="input-group">
        <input
          type="number"
          class="form-control"
          placeholder="ex : 200"
          name="price"
          required
        />
        <span class="input-group-text">$</span>
      </div>
      <div class="input-group">
        <div
          class="input-group date"
          id="datetimepicker2"
          data-target-input="nearest"
        >
          <input
            type="date"
            class="form-control datetimepicker-input"
            data-target="#datetimepicker2"
            name="date"
          />
        </div>
      </div>
      <div class="d-grid">
        <button type="submit " class="btn btn-success btn-border">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
<hr />
<div class="row">
  <div class="col mx-auto text-center h4" style="color: gray">Records</div>
</div>
<!-- Record cards -->
{% for record in records %}
<div class="row mt-2" record-id="{{record.data.id}}">
  <div class="col-lg-7 mx-auto">
    <!-- FirstOfMonth -->
    {% if record.first_of_month %}
    <div class="row">
      <div class="col mx-auto text-center h4" style="color: gray">
        {{record.first_of_month}} 月
      </div>
    </div>
    {% endif %}
    <!-- Data -->
    <div class="card bg-light">
      <div class="row card-body">
        <div class="col-2 border-end align-self-center">
          {{record.data.tag_name}}
        </div>
        <div class="col-3 border-end align-self-center">
          {{record.data.discription}}
        </div>
        <div class="col-2 border-end align-self-center">
          $ {{record.data.price}}
        </div>
        <div class="col-3 border-end align-self-center">
          {{record.data.date}}
        </div>
        <div
          class="col d-lg-inline-flex justify-content-around align-self-center"
        >
          <button type="button" class="btn btn-warning">修改</button>
          <button type="button" class="btn btn-danger">刪除</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<script>
  // 預設為今天
  document.querySelector('input.datetimepicker-input').valueAsDate = new Date();
  // Get data
</script>
{% endblock %}
